<h2>Controller</h2>

<div class="col-sm-6">

  <div class="form-group">
    <label for="nome">Nome</label>
    <input id="nome"  class="form-control" ng-model="vm.item.nome" placeholder="Nome"/>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="vm.item.pizza"> Pizza?
    </label>
  </div>

  <button class="btn" ng-class="{'btn-success': !vm.item.id, 'btn-primary': vm.item.id}" ng-click="vm.adicionar()">
    <span ng-show="vm.item.id">Atualizar</span>
    <span ng-hide="vm.item.id">Adicionar</span>
  </button>
  <button class="btn btn-warning" ng-click="vm.cancelar()">Cancelar</button>
</div>

<div class="clearfix"></div>

<div class="col-sm-6" style="margin-top: 10px">
  <input ng-model="filtro.nome" />
  <input type="checkbox" ng-model="filtro.pizza" /> Pizza
  <button class="btn btn-default" ng-if="filtro.pizza != null" ng-click="filtro.pizza = undefined">Todos</button>

  <table class="table table-striped table-hover table-border">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Pizza</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.participantes | orderBy:'nome' | filter:filtro as result">
        <td>{{item.nome}}</td>
        <td>{{item.pizza ? 'Sim' : 'Não'}}</td>
        <td>
          <button class="btn btn-warning" ng-click="vm.editar(item)"><i class="glyphicon glyphicon-pencil"></i></button>
          <button class="btn btn-danger" ng-click="vm.excluir(item)"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<div class="col-sm-6">

  <ng-pluralize count="result.length"
                       when="{'0': 'ninguém.',
                       '1': 'só uma pessoa.',
                       'other': '{} pessoas.'}">
  </ng-pluralize>
  <br />

  <select ng-model="combo" ng-options="item.id as item.nome for item in result">
  </select>

  {{combo}}

  <br />

  <batata></batata>
</div>
